# https://medium.com/shecodeafrica/building-your-own-custom-php-framework-part-1-1d24223bab18

RewriteEngine On
# RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php/$1 [L]

